#container{
    display: grid;
    grid-template-columns: 35% 60%;
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
}

.gauche{
    width: 82%;
}

.gauche h3{
    text-align: center;
    font-family: 'zen';
    font-size: 24px;
    border-bottom: 1px solid orange;
    color: white;
}

.sous-categorie{
    width: 40%;
    margin: 10% auto;
}

.sous-categorie ul{
    list-style: disc;
    color: white;
}

.sous-categorie ul li{
    padding-top: 20%;
}
.sous-categorie ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.img-gauche{
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
    color: white;
}

.img-gauche img{
    width: 100%;
    text-align: center;
}

.img-gauche p{}

.droite-haut{
    display: flex;
    margin-bottom: 3%;
}

.recherche{
    display: flex;
    justify-content: space-between;
    height: 35px;
    border: 2px solid white;
    border-radius: 8px;
}
.recherche input{
    width: 90%;
    margin-left: 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
}
::placeholder{
    color: white;
}
.recherche-img{
    text-align: right;
    width: 15%;
    margin-right: 3%;
}
.recherche img{
    width: 50%;
    margin-top: 15%;

}
.droite-haut a{
    text-decoration: none;
    margin-left: 5%;
    margin-top: 1%;
    color: #2d9fcc;
}

.image-droite{
    color: white;
}

.image-droite > .etoile{
    position: absolute;
    width: 10%;
    right: 9.6%;
    margin-top: 1%;
    margin-right: 1%;
}

.image-droite .etoile img{
    width: 100%;
}
.image-droite img{
    width: 100%;
    border-radius: 15px;
}

.sous-image{
    display: flex;
    justify-content: space-between;
    color: white;
}

.sous-image h4{
    font-family: 'zen';
}

.ligne-blog{
    margin: 3% 0;
    border-bottom: 2px solid #ffffff60;
}