#policy{
    margin: 0 auto;
    width: 90%;
}
.policy h3{
    padding-top: 3%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.404);
}
.zen{
    color: orange;
    font-family: 'zen';
    padding-bottom: 0.8%;
}

.policy{
    text-align: justify;
}

.policy h4{
    padding-top: 2%;
}

.policy p{
    color: white;
    padding-top: 2%;
}

.blue{
    color: #28bada;
}

.petite-liste ul{
    padding-left: 2%;
    color: white;
}

.sous-texte{
    padding-left: 10%;
}

.sous-texte ul{
    list-style: none;
    color: white;
}